/* ==========================================================================
   #ALERTS
   ========================================================================== */

.c-alert {
    padding: $unit / 2 $unit;
    margin-bottom: $unit;
    border-radius: $global-radius;
    // border: 1px solid $c-primary;
    // color: $c-primary;
    // background-color: rgba($c-primary-lighter, .2);
    border: 1px solid #31708f;
    color: #31708f;
    background-color: #d9edf7;
}

.c-alert--secondary {
    border-color: $c-secondary-darker;
    color: $c-secondary-darker;
    background-color: rgba($c-secondary-lighter, .4);
}

.c-alert--tertiary {
    border-color: $c-tertiary-darker;
    color: $c-tertiary-darker;
    background-color: rgba($c-tertiary-lighter, .2);
}
