///* ========================================================================
//   #COLORS
//   ======================================================================== */

/**
 * Brand Colors
 */

$c-primary:               #2c3b79;
$c-primary-lighter:       lighten($c-primary, 10%);
$c-primary-darker:        darken($c-primary, 15%);

$c-secondary:             #dac9a1;
$c-secondary-lighter:     lighten($c-secondary, 10%);
$c-secondary-darker:      darken($c-secondary, 20%);

$c-tertiary:              #449d44;
$c-tertiary-lighter:      lighten($c-tertiary, 10%);
$c-tertiary-darker:       darken($c-tertiary, 20%);


$c-text:                  #687480;
$c-accent:                $c-primary;
$c-background:            #f2f2f0;
$c-border:                rgba($c-primary, .1);

$c-dark:                  #402434;
$c-light:                 #eee;
$c-alert:                 #cc394b;


$c-white:       #fff;
$c-gray-1:      #f8f8f8;
$c-gray-2:      #f0f0f0;
$c-gray-3:      #e8e8e8;
$c-gray-4:      #b6b6b6;
$c-gray-5:      #8e8e8e;
$c-gray-6:      #666;
$c-gray-7:      #4d4d4d;
$c-gray-8:      #333;
$c-gray-9:      #262626;
$c-black:       #000;


/**
 * Buttons
 */

$c-btn:                         $c-white;
$c-btn-bg:                      rgba($c-primary, .8);
$c-btn-bg-hover:                rgba($c-primary, 1);

$c-secondary-btn:               $c-text;
$c-secondary-btn-bg:            rgba($c-secondary, .8);
$c-secondary-btn-bg-hover:      rgba($c-secondary, 1);

$c-tertiary-btn:                $c-white;
$c-tertiary-btn-bg:             #449d44;
$c-tertiary-btn-bg-hover:       #398439;

/**
 * Gradients
 */
$gradient-primary-light:            $c-primary;
$gradient-primary-dark:             darken($c-primary, 15%);

$gradient-primary:                  linear-gradient(135deg, $gradient-primary-light 0%, $gradient-primary-dark 100%);
$gradient-primary-hover:            linear-gradient(135deg, darken($gradient-primary-light, 1%) 0%, darken($gradient-primary-dark, 5%) 100%);

$gradient-secondary-light:          $c-secondary;
$gradient-secondary-dark:           darken($c-secondary, 15%);

$gradient-secondary:                linear-gradient(135deg, $gradient-secondary-light 0%, $gradient-secondary-dark 100%);
$gradient-secondary-hover:          linear-gradient(135deg, darken($gradient-secondary-light, 1%) 0%, darken($gradient-secondary-dark, 5%) 100%);







